# Ignore python local caching files
__pycache__
**.idea
# Ignore notebook checkpoints
**.ipynb_checkpoints
**.ipynb
# Vim files and python caches
*~
*.swp
*.pyc

#*.zip
submissions/submitted
*.npz
*.pth
# ignore data directory
# data
# *.png
# results
results/**/*.png

